COMPANY_NAME="oneentry.cloud"
TWITTER_CREATOR="@oneentry"
TWITTER_SITE=""
SITE_NAME="OneEntry Shop"
NEXT_PUBLIC_VERCEL_URL=""
PROJECT_URL=https://react-native-course.oneentry.cloud
APP_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoicmVhY3RfYXBwIiwic2VyaWFsTnVtYmVyIjoxLCJpYXQiOjE3MDA0ODAwMDYsImV4cCI6MTc0Nzk5OTk2MX0.gz3KTCITg6FhM_SwtuOZl3GsMr4MlVEPg9sw3d8Q0Po
