@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
  display: none;
}


input:focus-visible {
  outline: none !important;
  border-color: #f97316;
  color: #1e293b;
}


.toggle-checkbox:checked {
  @apply: right-0 border-orange-500;
  right: 0;
  border-color: #f97316;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-orange-500;
  background-color: #f97316;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
